<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2>Edit Bookmark</h2>
    <%= render partial: 'form', locals: { bookmark: @bookmark } %>

    <br><hr>
    <%= link_to 'Return', :root %>
  </div>
</div>
