<table class="table table-striped table-bordered table-rounded">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Shortening</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @bookmarks %>
  </tbody>
</table>
